

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTurmaLabel" jhiTranslate="avalia10App.turma.home.createOrEditLabel">Create or edit a Turma</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!turma.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="turma.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avalia10App.turma.dataInicio" for="field_dataInicio">Data Inicio</label>
            <div class="input-group">
                <input id="field_dataInicio" type="text" class="form-control" name="dataInicio" ngbDatepicker  #dataInicioDp="ngbDatepicker" [(ngModel)]="turma.dataInicio"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dataInicioDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="avalia10App.turma.dataFim" for="field_dataFim">Data Fim</label>
            <div class="input-group">
                <input id="field_dataFim" type="text" class="form-control" name="dataFim" ngbDatepicker  #dataFimDp="ngbDatepicker" [(ngModel)]="turma.dataFim"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dataFimDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="avalia10App.turma.modulo" for="field_modulo">Modulo</label>
            <select class="form-control" id="field_modulo" name="modulo" [(ngModel)]="turma.modulo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="moduloOption.id === turma.modulo?.id ? turma.modulo : moduloOption" *ngFor="let moduloOption of modulos; trackBy: trackModuloById">{{moduloOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
