<div>
    <h2>
        <span jhiTranslate="avalia10App.aluno.home.title">Alunos</span>
        <button class="btn btn-primary float-right create-aluno" [routerLink]="['/', { outlets: { popup: ['aluno-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="avalia10App.aluno.home.createLabel">
            Create new Aluno
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="alunos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="avalia10App.aluno.matricula">Matricula</span></th>
            <th><span jhiTranslate="avalia10App.aluno.nome">Nome</span></th>
            <th><span jhiTranslate="avalia10App.aluno.email">Email</span></th>
            <th><span jhiTranslate="avalia10App.aluno.turma">Turma</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aluno of alunos ;trackBy: trackId">
                <td><a [routerLink]="['../aluno', aluno.id ]">{{aluno.id}}</a></td>
                <td>{{aluno.matricula}}</td>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.email}}</td>
                <td>
                    <div *ngIf="aluno.turma">
                        <a [routerLink]="['../turma', aluno.turma?.id ]" >{{aluno.turma?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../aluno', aluno.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aluno/'+ aluno.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aluno/'+ aluno.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
