<div>
    <h2>
        <span jhiTranslate="avalia10App.resposta.home.title">Respostas</span>
        <button class="btn btn-primary float-right create-resposta" [routerLink]="['/', { outlets: { popup: ['resposta-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="avalia10App.resposta.home.createLabel">
            Create new Resposta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="respostas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="avalia10App.resposta.tipo">Tipo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resposta of respostas ;trackBy: trackId">
                <td><a [routerLink]="['../resposta', resposta.id ]">{{resposta.id}}</a></td>
                <td jhiTranslate="{{'avalia10App.RespostaEnum.' + resposta.tipo}}">{{resposta.tipo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../resposta', resposta.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resposta/'+ resposta.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resposta/'+ resposta.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
