
<div *ngIf="professor">
    <h2><span jhiTranslate="avalia10App.professor.detail.title">Professor</span> {{professor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="avalia10App.professor.matricula">Matricula</span></dt>
        <dd>
            <span>{{professor.matricula}}</span>
        </dd>
        <dt><span jhiTranslate="avalia10App.professor.nome">Nome</span></dt>
        <dd>
            <span>{{professor.nome}}</span>
        </dd>
        <dt><span jhiTranslate="avalia10App.professor.email">Email</span></dt>
        <dd>
            <span>{{professor.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'professor/'+ professor.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
