<div>
    <h2>
        <span jhiTranslate="avalia10App.curso.home.title">Cursos</span>
        <button class="btn btn-primary float-right create-curso" [routerLink]="['/', { outlets: { popup: ['curso-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="avalia10App.curso.home.createLabel">
            Create new Curso
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cursos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="avalia10App.curso.descricao">Descricao</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let curso of cursos ;trackBy: trackId">
                <td><a [routerLink]="['../curso', curso.id ]">{{curso.id}}</a></td>
                <td>{{curso.descricao}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../curso', curso.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'curso/'+ curso.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'curso/'+ curso.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
