
<div *ngIf="bloco">
    <h2><span jhiTranslate="avalia10App.bloco.detail.title">Bloco</span> {{bloco.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="avalia10App.bloco.descricao">Descricao</span></dt>
        <dd>
            <span>{{bloco.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="avalia10App.bloco.curso">Curso</span></dt>
        <dd>
            <div *ngIf="bloco.curso">
                <a [routerLink]="['/curso', bloco.curso?.id]">{{bloco.curso?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bloco/'+ bloco.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
